#root {
  background: linear-gradient(#fffffb, #fff9bc);
  height: 100%;
}
body {
  margin: 0;
}
* {
  line-height: 1.1;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  * {
    line-height: 1.2;
  }
}
